 .navbar-brand {
   padding: 10px;
  font-family: "Times New Roman", Times, serif;
  color:lightblue !important;

}
.navbar-brand#links:hover{
  color: lightslategray !important;
}

.brand-text{
  color: lightblue;
}


ul li{
  display: inline;

}
body{
  background-color: dimgrey !important;
  margin: 0;
  width: 100vw;
  height: 100vh;

}
.container{
  font-family: "Times New Roman", Times, serif;
  color: lightblue ;
  margin: 50px;
  border: 3px solid darkslategray;
  padding: 10px;
  justify-content:center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  background-color: black;

}
.container#contact{
  width: 50%;
}
.container#main{
  width: 100%;
}
.container#register{
  width: 50%;
}
.container#about{
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}
.container#bio{
  vertical-align:top;
  align-self:start;
  postition:relative;
}
.container#app{
  float:top;
}

.field{
  justify-content:left;
  align-items: left;
  text-align: left;
  margin: 10px;
  padding-top: 20px;
  padding-bottom:20px;
}
.label{
  text-align:left;
  align-items:left;
}
.form{
  margin: 10px;
  /* border: 3px solid white; */

}
.form#register{
  display: inline-block;
  width: 75%;
}
.input{
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  border-radius: 15px;
  border-color: lightblue;
  max-width: 100%;
  max-height: 100%;
}
.error{
  color:FireBrick;
  /* padding-left: 200px;
  padding-right:225px; */
  /* border: 1px solid firebrick; */
  /* justify-content:center;
  align-items: center;
  text-align: center; */
}
img {
    max-width: 100%;
    max-height: 100%;

}
.portrait{
  /* margin-left:auto;
  margin-right:auto; */
  text-align: center;
  justify-content: center;
  align-items:center;
  /* border: 3px solid white; */
  height: 500px;
  width: 335px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  background-color:darkslategray;/* Green */
  font-size: 16px;
  transition-duration: 0.4s;
  color: lightslategray;
  background-color: darkslategray;
  width: 100%;
  white-space: nowrap;
  padding: 10px;
}
.button:hover{
  background-color: lightblue;;
}


.feed{
  border: 1px solid white;
  width:100%;
  height:500px;

}
.content{
  background-color: #6a9cff;
    flex-grow : 1;
}
.center{
  border: 1px solid yellow;
  margin: auto;
  width:50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid green;
  grid-gap: 15px;
  align-items: center;
  justify-items:center;

}
.grid#menu{
  text-align: center;
  width: 50%;

}
.griditem{
  background-color: cornflowerblue;
}
