 .navbar-brand {
   padding: 10px;
  font-family: "Times New Roman", Times, serif;
  color:aquamarine;

}
.navbar-brand#links:hover{
  color: lightslategray !important;
}

.brand-text{
  color: lightblue;
}


ul li{
  display: inline;

}
body{
  background-color: dimgrey !important;

}
.container{
  color: darkslategray !important;
  margin: 50px;
   border: 3px solid darkslategray;
  padding: 10px;
  justify-content:center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  background-color: black;


}
.container#main{
  width: 100%;
}

.field{
  justify-content:left;
  align-items: left;
  text-align: left;
  margin: 10px;
}
.label{
  text-align:left;
  align-items:left;
}
.form{
  margin: 10px;
   /* border: 3px solid black; */

}
.input{
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  border-radius: 15px;
  border-color: lightblue;
}
