{% extends "deadline/base.html" %}
{% load crispy_forms_tags %}

{% block navs %}
{% for name,url in navlist.items %}
<a class="navbar-brand" id="links" href="{% url url%}">{{ name }}</a>
{% endfor %}
{% endblock %}
{% block messages %}
{% for message in messages %}
<div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endblock %}
{% block content %}
{% crispy form %}
{% endblock %}